[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cPseudoMaRg"]
	path = cPseudoMaRg
	url = https://github.com/cran/cPseudoMaRg
[submodule "gradeR"]
	path = gradeR
	url = https://github.com/cran/gradeR
